{% assign itemsByDate = include.items | sort: 'date' | group_by: 'date' | reverse %}

<table>
    <tbody>
        {% for rGroup in itemsByDate %}
            {% assign rGroupItems = rGroup.items | sort: 'title' %}
            {% for r in rGroupItems %}
                <tr>
                    <td>{{r.date}}</td>
                    <td>
                        {{r.title}}
                    </td>
                    <td>
                        {{r.length}}
                    </td>
                    <td>
                        <audio src="{{"recordings/" | append: r.path | relative_url | uri_escape}}" controls controlsList="nodownload" preload="none" />
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td>{% include totalTime.html items=include.items %}</td>
            <td></td>
        </tr>
    </tfoot>
</table>
