{% assign itemsByDate = include.items | sort: 'date' | group_by: 'date' | reverse %}
<p>
    {% include totalTime.html items=include.items %}
</p>
<table>
    <tbody>
        {% for rGroup in itemsByDate %}
            {% assign rGroupItems = rGroup.items | sort: 'title' %}
            {% for r in rGroupItems %}
                <tr>
                    <td>{{r.date}}</td>
                    <td>
                        {{r.title}}
                    </td>
                    <td>
                        {{r.length}}
                    </td>
                    <td>
                        <audio id="{{forloop.index}}" src="{{"recordings/" | append: r.path | relative_url | uri_escape}}" controls controlsList="nodownload" preload="none" />
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
