{% assign totalSeconds = 0 %}
{% assign totalMinutes = 0 %}

{% for item in include.items %}
  {% assign lengthComponents = item.length | split: ':' %}
  {% assign totalSeconds = totalSeconds | plus: lengthComponents[1] %}
  {% assign totalMinutes = totalMinutes | plus: lengthComponents[0] %}
{% endfor %}

{% assign minuteRemainder = totalSeconds | divided_by: 60 %}
{% assign totalMinutes = totalMinutes | plus: minuteRemainder %}

{% assign totalSeconds = totalSeconds | modulo: 60 %}

{% if totalSeconds < 10 %}
  {% assign totalSeconds = totalSeconds | prepend: '0' %}
{% endif %}

{% if totalMinutes > 0 %}
  {{totalMinutes}} minutes 
{% endif %}
  
{% if totalSeconds > 0 %}
  {{totalSeconds}} seconds
{% endif %}
