{% assign totalSeconds = 0 %}
{% assign totalMinutes = 0 %}
{% assign totalHours = 0 %}

{% for item in include.items %}
  {% assign lengthComponents = item.length | split: ':' %}
  {% assign totalSeconds = totalSeconds | plus: lengthComponents[1] %}
  {% assign totalMinutes = totalMinutes | plus: lengthComponents[0] %}
{% endfor %}

{% assign minuteRemainder = totalSeconds | divided_by: 60 %}
{% assign totalMinutes = totalMinutes | plus: minuteRemainder %}

{% assign totalSeconds = totalSeconds | modulo: 60 %}

{% assign totalHours = totalMinutes | divided_by: 60 %}
{% assign minutesInTotalHours = totalHours | times: 60 %}
{% assign totalMinutes = totalMinutes | minus: minutesInTotalHours }

{% if totalHours > 0 %}
  {{totalHours}} 
    {% if totalHours > 1 %}
      hours
    {% else %}
      hour
    {% endif %}
{% endif %}
                       
{% if totalMinutes > 0 %}
  {{totalMinutes}} 
    {% if totalMinutes > 1 %}
      minutes
    {% else %}
      minute
    {% endif %}
{% endif %}
  
{% if totalSeconds > 0 %}
  {{totalSeconds}} 
    {% if totalSeconds > 1 %}
      seconds
    {% else %}
      second
    {% endif %}
{% endif %}
